@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="btn btn-sm btn-outline-secondary" @onclick="LogoutAsync">Đăng xuất</button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-sm btn-outline-primary" href="/login">Đăng nhập</a>
    </NotAuthorized>
</AuthorizeView>

@if(IsLoad)
{
    <LoadingElement />
}

@code{
    
}
