@using MMA.BlazorWasm.Layout.Sidebar
@using MMA.BlazorWasm.Pages.CET.Auth.Element
@inherits LayoutComponentBase
<div class="wrapper">
    <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand fw-bold" href="#">SB Admin Pro</a>
            <AuthElement />
        </nav>
    </div>

    <div class="main d-flex">
        <AdminSidebar Routes="Routes" />
        <div class="content">
            @Body
        </div>
    </div>
</div>
