@using MMA.BlazorWasm.Layout.Sidebar
@using MMA.BlazorWasm.Pages.CET.Auth.Element
@inherits LayoutComponentBase
<div class="wrapper">
    <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex align-items-center me-auto">
                    <a class="navbar-brand fw-bold" href="#">SB Admin Pro</a>
                </div>

                <div class="ms-auto d-flex align-items-center">
                    <AuthElement />
                </div>
            </div>
        </nav>
    </div>

    <div class="main d-flex">
        <AdminSidebar Routes="Routes" />
        <div class="content">
            @Body
        </div>
    </div>
</div>
