@page "/login"
@layout AuthLayout
<PageTitle>Đăng nhập</PageTitle>

<div class="position-relative min-vh-100">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="row shadow-lg rounded-4 overflow-hidden" style="max-width: 960px; width: 100%;
            background-color: rgba(255, 255, 255, 0.49);">

            <div class="col-lg-6 d-none d-lg-block p-0">
                <img src="images/auth/Login.png"
                    class="img-fluid h-100 w-100 object-fit-cover" style="object-position: center;" />
            </div>

            <div class="col-lg-6 p-5">
                <h3 class="fw-bold mb-4">Đăng nhập</h3>
                <EditForm id="login-form-id" Model="LoginRequestDto" OnValidSubmit="HandleLogin">
                    <ErrorElement FormSummaryId="login-form-id" Errors="Errors" />
                <div class="mb-3">
                    <label class="form-label">Email <span class="text-danger">*</span></label>
                    <InputText @bind-Value="LoginRequestDto.Email" class="form-control" name="email"
                        id="email" placeholder="name@example.com" />
                    <ErrorElement Errors="Errors" FieldName="@nameof(LoginRequestDto.Email)" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <InputText @bind-Value="LoginRequestDto.Password" placeholder="Enter your password" type="password" class="form-control"
                        name="password" id="password" />
                    <ErrorElement Errors="Errors" FieldName="@nameof(LoginRequestDto.Password)" />
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Keep me logged in</label>
                </div>

                <ButtonAmam7078 Class="btn btn-primary w-100"
                    Text="Log in now"
                    Type="submit"
                    Id="btn-login-id"
                />
                    

                <div class="d-flex justify-content-between mt-4 small">
                    <a href="/register">Create new account</a>
                    <a href="/forgot-password">Forgot password</a>
                </div>
                </EditForm>

                <hr class="my-4" />

                <div class="text-center mb-2">Or sign in with</div>

                <div class="d-flex justify-content-between gap-2">
                    <ButtonAmam7078 Class="btn btn-outline-primary w-100"
                        Icon="bi bi-microsoft"
                        IconPosition="CIconPositionType.Right"
                        Text="Microsoft"
                        Type="button"
                        Id="btn-microsoft-id"
                        OnClick="MicrosoftGenerateLoginUrlAsyc"
                    />

                    <ButtonAmam7078 Class="btn btn-outline-danger w-100"
                        Icon="bi bi-google"
                        IconPosition="CIconPositionType.Right"
                        Text="Google"
                        Type="button"
                        Id="btn-google-id"
                        OnClick="GoogleGenerateLoginUrlAsyc"
                    />

                    <ButtonAmam7078 Class="btn btn-outline-info w-100"
                        Icon="bi bi-twitter"
                        IconPosition="CIconPositionType.Right"
                        Text="Twitter"
                        Type="button"
                        Id="btn-twitter-id"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

@if (IsLoading)
{
    <LoadingElement />
}