@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json


@page "/"

<PageTitle>Trang chủ</PageTitle>

<h1>Welcome to User Sign In ASP.NET Core Blazor WebAssembly</h1>
<ButtonAmam7078 Class="btn btn-sm btn-outline-info"
  Icon="bi bi-person"
  Id="@Guid.NewGuid().ToString()"
  IconPosition="@CIconPositionType.Left" 
  Text="Button"
  OnClick="TestAuthAsync"/>


<DateTimePicker
  LabelName="Chọn ngày giờ : "
  Type="CDateTimePickerType.DateTime"
  ModelData="ModelData"/>


<Table TData="RoleDetailResponseDto" TFilter="RoleFilterProperty"
  ApiEndpoint="@Path.Combine(EndpointConstant.CET_Base_Url, EndpointConstant.CET_Role_Paging)"
  HttpClientType="CHttpClientType.Public"
  PortalType="CPortalType.CET" />

@if (ModelData != null)
{
  if (ModelData.StartDateTime.HasValue)
  {
    <p class="badge">Test: @ModelData.StartDateTime.Value</p>
  }
}


  @code{

    private DateTimePickerModelData ModelData { get; set; } = new DateTimePickerModelData();


    private async Task TestAuthAsync()
    {
      _toastService.ShowError("OK");
      var response = await _httpClientHelper.GetAsync<string>(endpoint: "api/v1/cet/auth/protected",
        requestType: CHttpClientType.Private, portalType: CPortalType.CET);
      if (response != null && response.Success)
      {
        Console.WriteLine("");
      }
    }
  }
