@page "/haibuoc"
@using MMA.BlazorWasm.Layout.Base
@using Microsoft.AspNetCore.Authorization
@layout AdminLayout
@attribute [AuthorizePage(CRoleType.Client, CResourceType.User, CPermissionType.Read)]
<h1>OK</h1>