@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center gap-3">
            <NotificationElement @bind-NewNotificationCount="_newNotificationCount" />
            <ProfileElement UserInfo="_userInfo"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex align-items-center gap-3">
            <a class="btn btn-sm btn-outline-primary" href="/login">Đăng nhập</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@if (IsLoad)
{
    <LoadingElement />
}
