.small-placeholder::placeholder {
    font-size: 0.75rem;
}

input[type="date"].small-placeholder {
    font-size: 0.75rem;
    color: #6c757d;
}

.label-small-light {
    font-size: 0.75rem;
    color: #202122;
    font-weight: 600;
}