

<div class="notification" style="@(GetNotificationStyle())" <div class="notification-header">
    <strong>@NotificationResponse.Type.ToDescription()</strong>
</div>
<div class="notification-body">
        @NotificationResponse.Message
</div>
</div>

@code {
    
}
