.forbidden-page {
    width: 100vw;
    height: 100vh;
    background: url('/images/auth/Forbidden403.png') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
