@page "/register"
@layout AuthLayout
@using System.ComponentModel.DataAnnotations

<PageTitle>Đăng ký</PageTitle>

@if (_notificationResponse != null)
{
    <NotificationElement Notification="_notificationResponse" />
    _notificationResponse = null;
}

@if (_isLoading)
{
    <LoadingElement />
}
else
{
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px; background-color: rgba(255, 255, 255, 0.49);">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <EditForm Model="_requestDto" OnValidSubmit="RegisterAsync"
                                    FormName="registerForm" class="mx-1 mx-md-4">
                                    <div class="mb-3">
                                        <label for="fullName" class="form-label text-secondary">Full Name <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white"><i
                                                    class="bi bi-person text-primary fw-bold"></i></span>
                                            <InputText id="fullName" @bind-Value="_requestDto.FullName"
                                                class="form-control" placeholder="Enter your full name" />
                                        </div>
                                        <ErrorElement Errors="_errors" FieldName="@(nameof(_requestDto.FullName))" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="email" class="form-label text-secondary">Email <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white"><i
                                                    class="bi bi-envelope text-primary fw-bold"></i></span>
                                            <InputText id="email" @bind-Value="_requestDto.Email"
                                                class="form-control" placeholder="Enter your email" />
                                        </div>
                                        <ErrorElement Errors="_errors" FieldName="@(nameof(_requestDto.Email))" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label text-secondary">Password <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white"><i
                                                    class="bi bi-lock text-primary fw-bold"></i></span>
                                            <InputText id="password" @bind-Value="_requestDto.Password"
                                                class="form-control" type="password"
                                                placeholder="Enter your password" />
                                        </div>
                                        <ErrorElement Errors="_errors" FieldName="@(nameof(_requestDto.Password))" />
                                    </div>

                                    @* <div class="mb-3">
                                        <label for="confirmPassword" class="form-label text-secondary">Confirm Password
                                            <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white"><i
                                                    class="bi bi-lock text-primary fw-bold"></i></span>
                                            <InputText id="confirmPassword"
                                                @bind-Value="_requestDto.ConfirmPassword" class="form-control"
                                                type="password" placeholder="Repeat your password" />
                                        </div>
                                        <ErrorElement Errors="_errors" FieldName="ConfirmPassword_Error" />
                                    </div> *@

                                    <div class="form-check d-flex justify-content-center mb-3">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="termsOfService" />
                                        <label class="form-check-label" for="termsOfService">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                    <div class="text-center">
                                        <p class="mb-0">Already have an account? <a href="/login"
                                                class="text-primary">Back to login</a></p>
                                    </div>

                                </EditForm>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="images/auth/Register.png" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
