@page "/register"
@layout AuthLayout
@using System.ComponentModel.DataAnnotations

<PageTitle>Đăng ký</PageTitle>

@if (_notificationResponse != null)
{
    <NotificationElement Notification="_notificationResponse" />
    _notificationResponse = null;
}

@if (_isLoading)
{
    <LoadingElement />
}

<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row shadow-lg rounded-4 overflow-hidden" style="max-width: 960px; width: 100%;
                background-color: rgba(255, 255, 255, 0.49);">
        <div class="col-lg-6 p-5">
            <h2 class="fw-bold mb-4">Sign up</h2>
            <EditForm id="register-form-id" Model="_requestDto" OnValidSubmit="RegisterAsync">
                <ErrorElement FormSummaryId="register-form-id" Errors="_errors" />
                <div class="mb-3">
                    <label class="form-label">Full Name <span class="text-danger">*</span></label>
                    <InputText @bind-Value="_requestDto.FullName" class="form-control" name="fullname" id="fullname"
                        placeholder="Enter your full name" />
                    <ErrorElement Errors="_errors" FieldName="@nameof(_requestDto.FullName)" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Email <span class="text-danger">*</span></label>
                    <InputText @bind-Value="_requestDto.Email" class="form-control" name="email" id="email"
                        placeholder="name@example.com" />
                    <ErrorElement Errors="_errors" FieldName="@nameof(_requestDto.Email)" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <InputText @bind-Value="_requestDto.Password" placeholder="Enter your password" type="password"
                        class="form-control" name="password" id="password" />
                    <ErrorElement Errors="_errors" FieldName="@nameof(_requestDto.Password)" />
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="terms" />
                    <label class="form-check-label" for="terms">
                        I agree all statements in <a href="#">Terms of service</a>
                    </label>
                </div>

                <ButtonAmam7078 Class="btn btn-primary w-100" Text="Đăng ký" Type="submit" Id="btn-register-id" />
            </EditForm>
            <div class="text-center mt-3">
                Already have an account? <a href="/login">Back to login</a>
            </div>
        </div>

        <div class="col-lg-6 d-none d-lg-block p-0">
            <img src="images/auth/Register.png" class="img-fluid h-100 w-100 object-fit-cover" />
        </div>
    </div>
</div>
