<span class="d-flex align-items-center">
    <span class="status-circle" style="background-color:@GetRoleTypeColor(); width: 10px; height: 10px; border-radius: 50%; display: inline-block;"></span>
    <span class="ms-2">@RoleType.ToDescription()</span>
</span>